openapi: 3.0.2
info:
  title: API Management
  version: '1.0'
  contact:
    name: Axway Support
    email: support@axway.com
  license:
    name: Copyright Axway 2019. All rights reserved.
  description: API Management in Amplify Central.
servers:
  - url: 'https://apicentral.axway.com/api/mgmt/v1alpha1'
    description: Amplify Central
paths:
  /environments:
    get:
      summary: Get environments.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
      description: Get environments.
      operationId: getEnvironments
      tags:
        - environment
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
    post:
      summary: Create an environment.
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '409':
          description: Conflict
      tags:
        - environment
      operationId: createEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Environment'
      description: Create an environment.
  /graphql:
    get:
      summary: GraphQL query endpoint.
      tags:
        - graphql
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  data:
                    type: object
      description: GraphQL query endpoint.
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: 'The GraphQL query. See https://graphql.org/learn/serving-over-http/#get-request.'
          required: true
      operationId: queryGraphqlInline
    post:
      summary: GraphQL query endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
      description: GraphQL query endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                operationName:
                  type: string
                variables:
                  type: object
        description: 'The GraphQL query. See https://graphql.org/learn/serving-over-http/#post-request.'
      operationId: queryGraphql
      tags:
        - graphql
  '/environments/{environmentId}':
    parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an environment.
      tags:
        - environment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
              examples: {}
        '404':
          description: Not Found
      description: Get an environment.
      operationId: getEnvironment
    put:
      summary: Update an environment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '404':
          description: Not Found
        '409':
          description: Conflict
      description: Update an environment.
      operationId: updateEnvironment
      tags:
        - environment
    delete:
      summary: Delete an environment.
      responses:
        '204':
          description: No Content
      tags:
        - environment
      operationId: deleteEnvironment
      description: Delete an environment.
  /apiservices:
    get:
      summary: Get API Services.
      tags:
        - apiservice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIService'
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
      operationId: getAPIServices
      description: Get API Services.
    post:
      summary: Create an API Service.
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created API Service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
        '409':
          description: Conflict
      tags:
        - apiservice
      operationId: createAPIService
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/APIService'
                - $ref: '#/components/schemas/APIServiceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceDefinition'
      description: Create an API Service.
  '/apiservices/{apiserviceId}':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an API Service.
      tags:
        - apiservice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
              examples: {}
        '404':
          description: Not Found
      description: Get an API Service.
      operationId: getAPIService
    put:
      summary: Update an API Service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
        '404':
          description: Not Found
        '409':
          description: Conflict
      description: Update an API Service.
      operationId: updateAPIService
      tags:
        - apiservice
    delete:
      summary: Delete an API Service.
      responses:
        '204':
          description: No Content
      tags:
        - apiservice
      operationId: deleteAPIService
      description: Delete an API Service.
  '/apiservices/{apiserviceId}/instance':
    get:
      summary: Get API Service Instances.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIServiceInstance'
      description: Get API Service Instances.
      operationId: getAPIServiceInstances
      tags:
        - apiservice
        - apiserviceinstance
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
    post:
      summary: Create an API Service Instance.
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created API Service Instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '409':
          description: Conflict
      tags:
        - apiservice
        - apiserviceinstance
      operationId: createAPIServiceInstance
      requestBody:
        content:
          application/json:
            schema:
                oneOf:
                  - $ref: '#/components/schemas/APIServiceInstance'
                  - $ref: '#/components/schemas/APIServiceInstanceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceInstanceDefinition'
      description: Create an API Service Instance.
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
  '/apiservices/{apiserviceId}/instance/{instanceId}':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an API Service Instance.
      tags:
        - apiservice
        - apiserviceinstance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '404':
          description: Not Found
      description: Get an API Service Instance.
      operationId: getAPIServiceInstance
    put:
      summary: Update an API Service Instance.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '404':
          description: Not Found
        '409':
          description: Conflict
      description: Update an API Service Instance.
      operationId: updateAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
    delete:
      summary: Delete an API Service Instance.
      responses:
        '204':
          description: No Content
      tags:
        - apiservice
      operationId: deleteAPIServiceInstance
      description: Delete an API Service Instance.
  '/apiservices/{apiserviceId}/instances/{instanceId}/publish':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Publish an API Service Instance.
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      description: Publish an API Service Instance.
      operationId: publishAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
components:
  schemas:
    AuditMetadata:
      title: AuditMetadata
      description: Read-only metadata for the record.
      properties:
        createTimestamp:
          type: string
          format: date-time
          description: The creation time.
        createUserId:
          type: string
          description: Id of the user that created the entity.
        modifyTimestamp:
          type: string
          format: date-time
          description: The last modification time.
        modifyUserId:
          type: string
          description: Id of the user that last modified the entity.
      readOnly: true
      type: object
    Environment:
      title: Environment
      description: An environment contains API Services.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        attributes:
          $ref: '#/components/schemas/Attributes'
        description:
          type: string
        icon:
          type: string
          format: binary
        variables:
          $ref: '#/components/schemas/EnvironmentVariables'
        tags:
          type: array
          description: List of tags
          items:
            type: string
        owningTeamId:
          type: string
          description: The id of the owning team for this environment.
      required:
        - name
    APIService:
      title: API Service
      description: An API Service describes an API that is consumable.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        icon:
          type: string
        description:
          type: string
        attributes:
          $ref: '#/components/schemas/Attributes'
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        tags:
          type: array
          description: List of tags
          items:
            type: string
        instances:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/APIServiceInstance'
          description: The API Service Instances in this API Service.
        environmentId:
          type: string
      required:
        - environmentId
    APIServiceInstance:
      title: API Service Instance
      description: The details of individual instances of an API Service.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        tags:
          type: array
          description: List of tags
          items:
            type: string
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        attributes:
          $ref: '#/components/schemas/Attributes'
        endpoint:
          $ref: '#/components/schemas/APIEndpoint'
        proxy: {}
    APIEndpoint:
      title: API Endpoint
      description: A consumable API endpoint description.
      type: object
      properties:
        api:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/APIDefinition'
            - $ref: '#/components/schemas/APIDefinition'
        selector:
          type: object
          properties:
            type:
              type: string
            value: {}
        endpoint:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Endpoint'
            - $ref: '#/components/schemas/Endpoint'
    APIDefinition:
      title: API Definition
      description: An API definition.
      properties:
        type:
          type: string
        definition:
          oneOf:
            - type: object
            - type: string
              format: binary
      additionalProperties: true
      x-examples:
        swagger:
          type: swagger
          definition:
            swagger: '2.0'
            info:
              description: Example swagger.
              version: 1.0.0
              title: Example
            host: example.com
            basePath: /v1
            schemes:
              - https
              - http
            paths: {}
    Endpoint:
      type: object
      description: An endpoint.
      properties:
        host:
          type: string
        port:
          type: integer
      required:
        - host
        - port
      x-examples:
        example:
          host: localhost
          port: '443'
    EnvironmentVariables:
      title: EnvironmentVariables
      description: Variables for use in environment substitutions.
      additionalProperties:
        oneOf:
          - type: string
          - type: integer
          - type: boolean
    Attributes:
      title: Attributes
      description: Custom attributes added to objects.
      additionalProperties:
        oneOf:
          - type: string
          - type: integer
          - type: boolean
          - type: array
            items: {}
    APIServiceDefinition:
      title: API Service Definition
      description: Information for creating an API Service from a supported API Definition.
      type: object
      properties:
        name:
          type: string
        environmentId:
          type: string
        type:
          type: string
          enum: [swagger]
        definition:
          type: string
          format: binary
        attributes:
          $ref: '#/components/schemas/Attributes'
        description:
          type: string
        icon:
          type: string
          format: binary
        tags:
          type: array
          description: List of tags
          items:
            type: string
      required:
        - name
        - environmentId
        - type
        - defintion
    APIServiceInstanceDefinition:
      title: API Service Instance Definition
      description: Information for creating an API Service Instance from a supported API Definition.
      type: object
      properties:
        type:
          type: string
          enum: [swagger]
        definition:
          type: string
          format: binary
        attributes:
          $ref: '#/components/schemas/Attributes'
        tags:
          type: array
          description: List of tags
          items:
            type: string
      required:
        - type
        - defintion
  securitySchemes:
    scheme_0:
      type: http
      scheme: Bearer
      description: Authenticated platform bearer token.
  parameters:
    offsetParam:
      name: offset
      in: query
      description: The offset index into the result set to start returning results from.
      required: false
      schema:
        type: integer
        default: 0
    countParam:
      name: count
      in: query
      description: The maximum number of entities to return.
      required: false
      schema:
        type: integer
        default: 20
    pageNumberParam:
      name: page
      in: query
      description: 'The offset starting page number in the result set to start returning results from, starts at 1.'
      required: false
      schema:
        type: integer
        default: 1
    pageSizeParam:
      name: pageSize
      in: query
      description: The number of entities allowed in a page.
      required: false
      schema:
        type: integer
        default: 20
    sortParam:
      name: sort
      in: query
      description: 'The field to sort result sets by, in ASC or DESC order.'
      required: false
      schema:
        type: array
        items:
          type: string
