openapi: 3.0.2
info:
  title: API Management
  version: '1.0'
  contact:
    name: Axway Support
    email: support@axway.com
  license:
    name: Copyright Axway 2019. All rights reserved.
  description: API Management in Amplify Central.
servers:
  - url: 'https://apicentral.axway.com/api/mgmt/v1alpha1'
    description: Amplify Central
paths:
  /environments:
    get:
      summary: Get environments.
      description: Get environments.
      operationId: getEnvironments
      tags:
        - environment
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create an environment.
      operationId: createEnvironment
      description: Create an environment.
      tags:
        - environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/environments/{environmentId}':
    parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an environment.
      description: Get an environment.
      operationId: getEnvironment
      tags:
        - environment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update an environment.
      description: Update an environment.
      operationId: updateEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Environment'
      tags:
        - environment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete an environment.
      description: Delete an environment.
      operationId: deleteEnvironment
      tags:
        - environment
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /graphql:
    get:
      summary: GraphQL query endpoint.
      description: GraphQL query endpoint.
      operationId: queryGraphqlInline
      tags:
        - graphql
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: 'The GraphQL query. See https://graphql.org/learn/serving-over-http/#get-request.'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: GraphQL query endpoint.
      description: GraphQL query endpoint.
      operationId: queryGraphql
      tags:
        - graphql
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                operationName:
                  type: string
                variables:
                  type: object
        description: 'The GraphQL query. See https://graphql.org/learn/serving-over-http/#post-request.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /apiservices:
    get:
      summary: Get API Services.
      description: Get API Services.
      operationId: getAPIServices
      tags:
        - apiservice
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create an API Service.
      description: Create an API Service.
      operationId: createAPIService
      tags:
        - apiservice
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/APIService'
                - $ref: '#/components/schemas/APIServiceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceDefinition'
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created API Service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/apiservices/{apiserviceId}':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an API Service.
      description: Get an API Service.
      operationId: getAPIService
      tags:
        - apiservice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update an API Service.
      description: Update an API Service.
      operationId: updateAPIService
      tags:
        - apiservice
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/APIService'
                - $ref: '#/components/schemas/APIServiceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceDefinition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIService'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete an API Service.
      description: Delete an API Service.
      operationId: deleteAPIService
      tags:
        - apiservice
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/apiservices/{apiserviceId}/revisions':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get API Service Revisions.
      description: Get API Service Revision.
      operationId: getAPIServiceRevisions
      tags:
        - apiservice
        - apiservicerevision
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIServiceRevision'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create an API Service Revision.
      description: Create an API Service Revision.
      operationId: createAPIServiceRevision
      tags:
        - apiservice
        - apiservicerevision
      requestBody:
        content:
          application/json:
            schema:
                oneOf:
                  - $ref: '#/components/schemas/APIServiceRevision'
                  - $ref: '#/components/schemas/APIServiceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceDefinition'
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created API Service Revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceRevision'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/apiservices/{apiserviceId}/revisions/{revisionId}':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an API Service Revision.
      description: Get an API Service Revision.
      operationId: getAPIServiceRevision
      tags:
        - apiservice
        - apiserviceRevision
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceRevision'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update an API Service Revision.
      description: Update an API Service Revision.
      operationId: updateAPIServiceRevision
      tags:
        - apiservice
        - apiservicerevision
      requestBody:
        content:
          application/json:
            schema:
                oneOf:
                  - $ref: '#/components/schemas/APIServiceRevision'
                  - $ref: '#/components/schemas/APIServiceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceDefinition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceRevision'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete an API Service Revision.
      description: Delete an API Service Revision.
      operationId: deleteAPIServiceRevision
      tags:
        - apiservice
        - apiservicerevision
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/apiservices/{apiserviceId}/instances':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get API Service Instances.
      description: Get API Service Instances.
      operationId: getAPIServiceInstances
      tags:
        - apiservice
        - apiserviceinstance
      parameters:
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/countParam'
        - $ref: '#/components/parameters/pageNumberParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/sortParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIServiceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create an API Service Instance.
      description: Create an API Service Instance.
      operationId: createAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      requestBody:
        content:
          application/json:
            schema:
                oneOf:
                  - $ref: '#/components/schemas/APIServiceInstance'
                  - $ref: '#/components/schemas/APIServiceInstanceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceInstanceDefinition'
      responses:
        '201':
          description: Created
          headers:
            location:
              schema:
                type: string
              description: The location of the created API Service Instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/apiservices/{apiserviceId}/instances/{instanceId}':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an API Service Instance.
      description: Get an API Service Instance.
      operationId: getAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update an API Service Instance.
      description: Update an API Service Instance.
      operationId: updateAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      requestBody:
        content:
          application/json:
            schema:
                oneOf:
                  - $ref: '#/components/schemas/APIServiceInstance'
                  - $ref: '#/components/schemas/APIServiceInstanceDefinition'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/APIServiceInstanceDefinition'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServiceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete an API Service Instance.
      description: Delete an API Service Instance.
      operationId: deleteAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  '/apiservices/{apiserviceId}/instances/{instanceId}/publish':
    parameters:
      - name: apiserviceId
        in: path
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: string
    put:
      summary: Publish an API Service Instance.
      description: Publish an API Service Instance.
      operationId: publishAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Unpublish an API Service Instance.
      description: Unpublish an API Service Instance.
      operationId: unpublishAPIServiceInstance
      tags:
        - apiservice
        - apiserviceinstance
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'



components:
  responses:
    BadRequest:
      description: Failed to validate request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized. A valid authorization header was not provided with the request to authenticate.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden, the user does not have the correct permissions to call this API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The resource specified could not be found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Request conflicts with the current state of the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Unexpected internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      title: Error Response
      description: Detail for standard error responses.
      type: object
      additionalProperties: true
      properties:
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              status:
                type: integer
              title:
                type: string
              detail:
                type: string
              meta:
                type: object
                additionalProperties: true
                properties:
                  instanceId:
                    type: string
    AuditMetadata:
      title: AuditMetadata
      description: Read-only metadata for the record.
      properties:
        createTimestamp:
          type: string
          format: date-time
          description: The creation time.
        createUserId:
          type: string
          description: Id of the user that created the entity.
        modifyTimestamp:
          type: string
          format: date-time
          description: The last modification time.
        modifyUserId:
          type: string
          description: Id of the user that last modified the entity.
      readOnly: true
      type: object
    Environment:
      title: Environment
      description: An environment contains API Services.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        attributes:
          $ref: '#/components/schemas/Attributes'
        description:
          type: string
        icon:
          type: string
          format: binary
        variables:
          $ref: '#/components/schemas/EnvironmentVariables'
        tags:
          type: array
          description: List of tags
          items:
            type: string
        owningTeamId:
          type: string
          description: The id of the owning team for this environment.
      required:
        - name
    APIService:
      title: API Service
      description: An API Service describes an API that is consumable.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        icon:
          type: string
        description:
          type: string
        attributes:
          $ref: '#/components/schemas/Attributes'
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        tags:
          type: array
          description: List of tags
          items:
            type: string
        instances:
          type: array
          items:
            $ref: '#/components/schemas/APIServiceInstance'
          description: The API Service Instances in this API Service.
        revisions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/APIServiceRevision'
          description: The API Service Revisions in this API Service.
        environmentId:
          type: string
      required:
        - environmentId
    APIServiceRevision:
      title: API Service Revision
      description: A revision of the API Service.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        tags:
          type: array
          description: List of tags
          items:
            type: string
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        attributes:
          $ref: '#/components/schemas/Attributes'
        api:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/APIDefinition'
            - $ref: '#/components/schemas/APIDefinition'
        proxy: {}
    APIServiceInstance:
      title: API Service Instance
      description: An instance an API Service Revision.
      type: object
      properties:
        id:
          type: string
          readOnly: true
        tags:
          type: array
          description: List of tags
          items:
            type: string
        metadata:
          $ref: '#/components/schemas/AuditMetadata'
        attributes:
          $ref: '#/components/schemas/Attributes'
        endpoint:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Endpoint'
            - $ref: '#/components/schemas/Endpoint'
        revisionId:
          type: string
        status: {}
    APIDefinition:
      title: API Definition
      description: An API definition.
      properties:
        type:
          type: string
        definition:
          oneOf:
            - type: object
            - type: string
              format: binary
      additionalProperties: true
      x-examples:
        swagger:
          type: swagger
          definition:
            swagger: '2.0'
            info:
              description: Example swagger.
              version: 1.0.0
              title: Example
            host: example.com
            basePath: /v1
            schemes:
              - https
              - http
            paths: {}
    Endpoint:
      type: object
      description: An endpoint.
      properties:
        host:
          type: string
        port:
          type: integer
        protocol:
          type: string
        selector:
          type: object
          properties:
            type:
              type: string
            value: {}
      required:
        - host
        - port
      x-examples:
        example:
          host: localhost
          port: '443'
    EnvironmentVariables:
      title: EnvironmentVariables
      description: Variables for use in environment substitutions.
      type: object
      additionalProperties:
        oneOf:
          - type: string
          - type: integer
          - type: boolean
    Attributes:
      title: Attributes
      description: Custom attributes added to objects.
      additionalProperties:
        oneOf:
          - type: string
          - type: integer
          - type: boolean
          - type: array
            items: {}
    APIServiceDefinition:
      title: API Service Definition
      description: Information for creating an API Service from a supported API Definition.
      type: object
      properties:
        name:
          type: string
        environmentId:
          type: string
        type:
          type: string
          enum: [swagger]
        definition:
          type: string
          format: binary
        attributes:
          $ref: '#/components/schemas/Attributes'
        description:
          type: string
        icon:
          type: string
          format: binary
        tags:
          type: array
          description: List of tags
          items:
            type: string
      required:
        - name
        - environmentId
        - type
        - defintion
    APIServiceInstanceDefinition:
      title: API Service Instance Definition
      description: Information for creating an API Service Instance from a supported API Definition.
      type: object
      properties:
        type:
          type: string
          enum: [swagger]
        definition:
          type: string
          format: binary
        attributes:
          $ref: '#/components/schemas/Attributes'
        tags:
          type: array
          description: List of tags
          items:
            type: string
      required:
        - type
        - defintion
  securitySchemes:
    token:
      type: http
      scheme: Bearer
      description: Authenticated platform bearer token.
  parameters:
    offsetParam:
      name: offset
      in: query
      description: The offset index into the result set to start returning results from.
      required: false
      schema:
        type: integer
        default: 0
    countParam:
      name: count
      in: query
      description: The maximum number of entities to return.
      required: false
      schema:
        type: integer
        default: 20
    pageNumberParam:
      name: page
      in: query
      description: 'The offset starting page number in the result set to start returning results from, starts at 1.'
      required: false
      schema:
        type: integer
        default: 1
    pageSizeParam:
      name: pageSize
      in: query
      description: The number of entities allowed in a page.
      required: false
      schema:
        type: integer
        default: 20
    sortParam:
      name: sort
      in: query
      description: 'The field to sort result sets by, in ASC or DESC order.'
      required: false
      schema:
        type: array
        items:
          type: string
